.node {
  border-radius: 100%;
  background-color: #2b303a;
  height: 30px;
  width: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  transition-duration: 0.1s;
}

.node:hover {
  cursor: grab;
  transform: translate(-50%, -50%) scale(1.2);
}

.nodeWrapper {
  position: absolute;
}
